<style media="screen">

  .p1 {
    border: 3px solid blue; color red; background:yellow;
  }

  .p2{
    border:2px dotted green; color: lightpink; background:yellow;
    width: 300px;
  }

  .p3{
    border:2px dotted green; color: lightpink; background:yellow;
    width: 300px; height: 100px;
  }

  .p4{
    border:2px dotted green; color: lightpink; background:yellow;
    width: 300px; height: 100px; font-family: Arial;
  }

  .p5{
    border:2px dotted green; color: lightpink; background:yellow;
    width: 300px; height: 100px; font-family: Arial; font-size: 50px;
  }

  .p6{
    border:2px dotted green; color: lightpink; background:yellow;
    width: 300px; height: 100px; font-family: Arial; font-size: 50px;
    margin: 10%;
  }

  .p7{
    border:2px dotted green; color: lightpink; background:yellow;
    width: 300px; height: 100px; font-family: Arial; font-size: 50px;
    margin: 10%; position: middle;
  }


  /*  font-family:
    font-size:
    font-weight:bold;
    height:
    width:
    margin:auto;
    padding:inherit;
    border-radius:
    text-shadow:
    display:block;
    position:;*/

    .img{
      width: 40%;
      float:;
      box-shadow: 10px 5px 10px purple;
      border: 2px solid red;
      border-radius: 10px;
      margin: 4%;
      padding-left:;
      filter:grayscale(10);
    }

    .img2{

      width: 35%;
      float:;
      box-shadow: 10px 5px 10px purple;
      border: 2px solid orange;
      border-radius: 10px;
      margin: 4%;
      padding-left:;
    }

    .imageblock{
      border: 2px solid lightblue;
      width: 100%;
      background-color: lightpink;
    }

  .text{
    color:rgba(100,1,100,0.5); /*(red,green,blue,opacity(transparency)*/
    background-color:yellow;
    font-size: 30px;

    font-family: courier;
    font-weight: bold;
    font-style: italic;

    border: 2px solid red;
    box-shadow: 10px 5px 10px purple;/*(How far shadow stays away from the border, left or right,
     how far shadow stays up and down, how blurry it is, color )*/
    width: 400px;
    height: 60px;

    margin-left: 3px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;

    margin: 3% 4% 8% 10%; /*top right bottom left, respectively*/

    text-align: center;
    text-shadow: 10px 5px 10px purple; /*(How far shadow stays away from the text, left or right,
     how far shadow stays up and down, how blurry it is, color )*/
  }

</style>
